body{
    background-color: black;
    color: white;
}
ul{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: gray;
    list-style-type: none;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
}
.con{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.left{
    width: 50%;
    height: 500px;
}
.right{
    width: 50%;
    height: 500px;
}
img{
    width: 100%;
    object-fit: cover;
}
.wrap{
    padding: 20px;
}